@page "/products"

@inject IMediator _mediator;
@inject NavigationManager _navigationManager

<h3>Products List</h3>
<br />

<GetProductsComponent OnSearchProducts="OnSearchProducts"></GetProductsComponent>

<FluentDataGrid TItem=string GenerateHeader=GenerateHeaderOptions.None GridTemplateColumns="1fr 0.8fr 1fr 4fr">
    <FluentDataGridRow TItem=string RowType=DataGridRowType.Header>
        <FluentDataGridCell GridColumn=1 CellType=DataGridCellType.ColumnHeader>Name</FluentDataGridCell>
        <FluentDataGridCell GridColumn=2 CellType=DataGridCellType.ColumnHeader>Quantity</FluentDataGridCell>
        <FluentDataGridCell GridColumn=3 CellType=DataGridCellType.ColumnHeader>Price</FluentDataGridCell>
        <FluentDataGridCell GridColumn=4 CellType=DataGridCellType.ColumnHeader>Options</FluentDataGridCell>
    </FluentDataGridRow>
    @foreach (var product in this._products)
    {
        <ProductItemComponent Product="product" OnProductDeleted="DeleteProduct"></ProductItemComponent>
    }
</FluentDataGrid>

<br />

<FluentButton Appearance=Appearance.Accent @onclick="CreateProduct">Add Product</FluentButton>

@code {
    private List<GetProductsByNameVM> _products;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private void OnSearchProducts(List<GetProductsByNameVM> products)
    {
        _products = products;
    }

    private void CreateProduct()
    {
        _navigationManager.NavigateTo("/createproduct");
    }

    private async Task DeleteProduct()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        var model = await _mediator.Send(new GetProductsByNameQuery { Name = "" });
        _products = model;
    }

}
