@inject IMediator _mediator

<div class="input-group mb-3">
    <FluentTextField Placeholder="Type inventory name here to search" Size=50 @bind-value="inventoryNameToSearch"></FluentTextField>
    <FluentButton Appearance=Appearance.Outline @onclick="@(async()=> {await ViewInventories();})">View</FluentButton>
</div>

@code {
    private string? inventoryNameToSearch;

    [Parameter]
    public EventCallback<List<ViewInventoriesByNameVM>> OnSearchInventories{ get; set; }

    private async Task<ActionResult<List<ViewInventoriesByNameVM>>> ViewInventories()
    {
        var model = await _mediator.Send(new ViewInventoriesByNameQuery{ Name = inventoryNameToSearch });
        await OnSearchInventories.InvokeAsync(model);
        return model;
    }
}
